@{
    ViewBag.Title = "Home Page";
}

<img src="/images/2015-04-02_13-45-41.jpg" />

<div class="row">
    Demo project for presentation at ng-sydney April 2015 by Duncan Hunter.
    You can see the presentation slides here bit.ly/tsandangularforng-sydney or as a pdf in the solution items folder.
</div>